@model dynamic
@{
   
}

<div class="text-center">
    <h1 class="display-4">Fawry</h1>
    <p>
        To check out using on-line payment please
        <a href="@Url.Action("ConfirmOrder", "Home")">Click Here</a>.
    </p>
</div>
